name: Build with CMake (Linux)

on:
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v3

      - name: Install dependencies
        run: |
          sudo apt update && sudo apt upgrade && sudo apt install -y libunwind-dev apt-transport-https \
          ca-certificates curl wget gnupg make cmake lsb-release software-properties-common \
          libeigen3-dev libkdl-parser-dev libgflags-dev libgoogle-glog-dev liborocos-kdl-dev \
          libgtest-dev libyaml-cpp-dev liburdf-dev python3-pip libfcl-dev libnanoflann-dev \
          && pip3 install trimesh urdfpy
        shell: bash

      - name: Set up Clang
        uses: egor-tensin/setup-clang@v1
        with:
          version: latest
          platform: x64

      - name: Configure with CMake
        run: |
          cmake -B build -DCMAKE_BUILD_TYPE=Release
      - name: Build
        run: |
          cmake --build build --config Release

      - name: Test (optional)
        run: |
          if [ -d build/tests ]; then
            ctest --test-dir build/tests -C Release --output-on-failure
          fi
